#div_list_tags {
    display: flex;
    margin-top: 0.5em;
}

#div_user_tags {
    flex-direction: row;
    flex-flow: wrap-reverse;
}

.user_tag {
    border: rgb(1, 97, 1) solid 2px;
    color: white;
    margin: 5px;
    background-color: green;
    border-radius: 10px;
}

@keyframes tag_anim {
    from {opacity: 0}
    to {opacity: 1}
}

.select_tag {
    animation: tag_anim 0.5s;
    border: rgb(143, 0, 0) solid 2px;
    color: white;
    margin: 5px;
    background-color: rgb(214, 1, 1);
    border-radius: 10px;
    padding: 0.5em;
}

.select_tag:hover {
    border: rgb(1, 97, 1) solid 2px;
    color: white;
    margin: 5px;
    background-color: green;
    border-radius: 10px;
}

.del_tag {
    text-align: right;
    font-size: 20px;
    color: red !important;
    text-shadow: 0px 0px 1px black;
}


.delete_picture {
    font-size: 1em;
}

.picture {
    max-width: 100%;
}