@font-face {
    font-family: "font_cheap";
    src: url("/fonts/TrueStories.ttf");
}

@font-face {
    font-family: "font_sarina";
    src: url("/fonts/Sarina-Regular.ttf");
}

@font-face {
    font-family: "muffin";
    src: url("/fonts/Strawberry_Muffins_Demo.ttf");
}

.sarina{
    font-family: font_sarina;    
}

.muffin{
    font-family: muffin;    
}

.font-shadow-pink {
    color:white;
}

.font-shadow-pink:hover{
    text-shadow: 0px 0px 50px pink;
    cursor: pointer;
}

.font-cheap {
    font-family: font_cheap;
    color: white;
    text-shadow: 2px 0 0 purple;
}

a {
    cursor: pointer;
    text-decoration: none;    
    color: transparent;
}

body {
    background: linear-gradient(90deg, #ff5f6d, #ffc371);
    
}

.fill { 
    min-height: 100%;
    height: 100%;
}
