
.mainContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 4em;
}

#carouselSexy {
    grid-column-start: 1;
    grid-column-end: 2;
}

/* form {
    margin: 0;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: white;
}

label {
    color: white;
} */
