
.mainContent {
    display: grid;
    grid-template-columns: 1fr 1fr
}

#carouselSexy {
    grid-column-start: 1;
    grid-column-end: 2;

form {
    grid-column-start: 2;
    grid-column-end: 3;
}

label {
    color: white;
}
