extends layout

block content

    script(src='/assets/javascript/chat.js' type='text/javascript')
    div.container-fluid.border.border-success.m-5
        div.col.text-center.m-5
            //- h1 Chat
        div.col.m-auto.w-75.h-75
            div.row.w-100.h-100.m-auto
                div.col-md-2.col-4.col-sm-4.border.border-dark.h-100(style="background-color: white;overflow: auto;border-radius: 5px 0px 0px 5px;")
                    
                    div.row.w-100.border.border-success.p-2.h-25.p-2.mb-2.mt-2.ml-auto.mr-auto
                        div.row.w-100.border.border-success.p-2.m-auto.h-75
                            div.w-100(style='background-image: url(\'/assets/pictures/2_1513097725649.png\');background-repeat: no-repeat;background-size: cover;border: 1px solid red;border-radius: 500px 500px 25px 500px;')
                        div.row.w-100.border.border-success.p-2.m-auto
                            h4.m-auto mabite
                    div.row.w-100.border.border-success.p-2.h-25.p-2.mb-2.mt-2.ml-auto.mr-auto
                        div.row.w-100.border.border-success.p-2.m-auto.h-75
                            div.w-100(style='background-image: url(\'/assets/pictures/2_1513097725649.png\');background-repeat: no-repeat;background-size: cover;border: 1px solid red;border-radius: 500px 500px 500px 500px;')
                        div.row.w-100.border.border-success.p-2.m-auto
                            h4.m-auto mabite
                    div.row.w-100.border.border-success.p-2.h-25.p-2.mb-2.mt-2.ml-auto.mr-auto
                        div.row.w-100.border.border-success.p-2.m-auto.h-75
                            div.w-100(style='background-image: url(\'/assets/pictures/2_1513097725649.png\');background-repeat: no-repeat;background-size: cover;border: 1px solid red;border-radius: 500px 500px 500px 500px;')
                        div.row.w-100.border.border-success.p-2.m-auto
                            h4.m-auto mabite
                    div.row.w-100.border.border-success.p-2.h-25.p-2.mb-2.mt-2.ml-auto.mr-auto
                        div.row.w-100.border.border-success.p-2.m-auto.h-75
                            div.w-100(style='background-image: url(\'/assets/pictures/2_1513097725649.png\');background-repeat: no-repeat;background-size: cover;border: 1px solid red;border-radius: 500px 500px 500px 500px;')
                        div.row.w-100.border.border-success.p-2.m-auto
                            h4.m-auto mabite
                    div.row.w-100.border.border-success.p-2.h-25.p-2.mb-2.mt-2.ml-auto.mr-auto
                        div.row.w-100.border.border-success.p-2.m-auto.h-75
                            div.w-100(style='background-image: url(\'/assets/pictures/2_1513097725649.png\');background-repeat: no-repeat;background-size: cover;border: 1px solid red;border-radius: 500px 500px 500px 500px;')
                        div.row.w-100.border.border-success.p-2.m-auto
                            h4.m-auto mabite
                    div.row.w-100.border.border-success.p-2.h-25.p-2.mb-2.mt-2.ml-auto.mr-auto
                        div.row.w-100.border.border-success.p-2.m-auto.h-75
                            div.w-100(style='background-image: url(\'/assets/pictures/2_1513097725649.png\');background-repeat: no-repeat;background-size: cover;border: 1px solid red;border-radius: 500px 500px 500px 500px;')
                        div.row.w-100.border.border-success.p-2.m-auto
                            h4.m-auto mabite
                    
                div.col-md-10.col-8.col-sm-8.border.border-dark.h-100(style="background-color: white;;border-radius: 0px 5px 5px 0px;").p-3
                    div.col.w-100.border.border-success(style="height:5%;background-color: white;border-radius: 0px 5px 5px 0px;").mb-2
                        h2.text-center Mabite           
                    div.col.w-100.border.border-success(style="height:75%;background-color: white;border-radius: 0px 5px 5px 0px;").mb-2.p-5
                        div.col.border.border-success(style="min-height:10%;background-color: #F5F5F5F5;min-width:25%; max-width: 66%;border-radius: 50px 50px 50px 5px;").mb-2.p-3 jicnia unuiaaousnaio iojoi sdnfovds ogjiodfsn viodfsjiov jdiosv oidmsfiov dfsiomv iodsmfvio mdfsiovm oidsfmvo mdsfvm odsmvo dmsfvm dsofmvo dsmvm dfsomvoijicnia unuiaaousnaio iojoi sdnfovds ogjiodfsn viodfsjiov jdiosv oidmsfiov dfsiomv iodsmfvio mdfsiovm oidsfmvo mdsfvm odsmvo dmsfvm dsofmvo dsmvm dfsomvoijicnia unuiaaousnaio iojoi sdnfovds ogjiodfsn viodfsjiov jdiosv oidmsfiov dfsiomv iodsmfvio mdfsiovm oidsfmvo mdsfvm odsmvo dmsfvm dsofmvo dsmvm dfsomvoijicnia unuiaaousnaio iojoi sdnfovds ogjiodfsn viodfsjiov jdiosv oidmsfiov dfsiomv iodsmfvio mdfsiovm oidsfmvo mdsfvm odsmvo dmsfvm dsofmvo dsmvm dfsomvoijicnia unuiaaousnaio iojoi sdnfovds ogjiodfsn viodfsjiov jdiosv oidmsfiov dfsiomv iodsmfvio mdfsiovm oidsfmvo mdsfvm odsmvo dmsfvm dsofmvo dsmvm dfsomvoijicnia unuiaaousnaio iojoi sdnfovds ogjiodfsn viodfsjiov jdiosv oidmsfiov dfsiomv iodsmfvio mdfsiovm oidsfmvo mdsfvm odsmvo dmsfvm dsofmvo dsmvm dfsomvoijicnia unuiaaousnaio iojoi sdnfovds ogjiodfsn viodfsjiov jdiosv oidmsfiov dfsiomv iodsmfvio mdfsiovm oidsfmvo mdsfvm odsmvo dmsfvm dsofmvo dsmvm dfsomvoi        
                        div.col.border.border-success(style="min-height:10%;background-color: #F5F5F5F5;min-width:25%; max-width: 66%;border-radius: 50px 50px 50px 5px;").mb-2.p-2 jicnia unuiaaousnaio iojoi sdnfovds
                    
                    div.col.w-100.border.border-success(style="height:15%;background-color: #F5F5F5F5;border-radius: 0px 5px 5px 0px;").mt-1
