extends layout

block content

    div.container-fluid.m-5
        div.col.m-auto.w-75(style="height:600px")
            div.row.w-100.h-100.m-auto
                div#match_list.col-md-4.col-4.col-sm-4.border.h-100(style="background-color: white;overflow: auto;border-radius: 5px 0px 0px 5px;")
                    
                    //- div.row.w-100.border.p-2.p-2.mb-2.mt-2.ml-auto.mr-auto(style="height:300px;border-radius:2px;")
                    //-     div.row.w-100.p-2.m-auto.h-75
                    //-         div.w-100(style='background-image: url(\'/assets/pictures/2_1513097725649.png\');background-repeat: no-repeat;background-size: cover;border-radius: 500px 500px 25px 500px;')
                    //-     div.row.w-100.border.p-2.m-auto
                    //-         h4.m-auto.muffin 
                    //- div.row.w-100.border.border-success.p-2.p-2.mb-2.mt-2.ml-auto.mr-auto(style="height:300px;")
                    //-     div.row.w-100.border.border-success.p-2.m-auto.h-75
                    //-         div.w-100(style='background-image: url(\'/assets/pictures/2_1513097725649.png\');background-repeat: no-repeat;background-size: cover;border: 1px solid red;border-radius: 500px 500px 500px 500px;')
                    //-     div.row.w-100.border.border-success.p-2.m-auto
                    //-         h4.m-auto mabite
                    //- div.row.w-100.border.border-success.p-2.p-2.mb-2.mt-2.ml-auto.mr-auto(style="height:300px;")
                    //-     div.row.w-100.border.border-success.p-2.m-auto.h-75
                    //-         div.w-100(style='background-image: url(\'/assets/pictures/2_1513097725649.png\');background-repeat: no-repeat;background-size: cover;border: 1px solid red;border-radius: 500px 500px 500px 500px;')
                    //-     div.row.w-100.border.border-success.p-2.m-auto
                    //-         h4.m-auto mabite
                    //- div.row.w-100.border.border-success.p-2.p-2.mb-2.mt-2.ml-auto.mr-auto(style="height:300px;")
                    //-     div.row.w-100.border.border-success.p-2.m-auto.h-75
                    //-         div.w-100(style='background-image: url(\'/assets/pictures/2_1513097725649.png\');background-repeat: no-repeat;background-size: cover;border: 1px solid red;border-radius: 500px 500px 500px 500px;')
                    //-     div.row.w-100.border.border-success.p-2.m-auto
                    //-         h4.m-auto mabite
                    //- div.row.w-100.border.border-success.p-2.p-2.mb-2.mt-2.ml-auto.mr-auto(style="height:300px;")
                    //-     div.row.w-100.border.border-success.p-2.m-auto.h-75
                    //-         div.w-100(style='background-image: url(\'/assets/pictures/2_1513097725649.png\');background-repeat: no-repeat;background-size: cover;border: 1px solid red;border-radius: 500px 500px 500px 500px;')
                    //-     div.row.w-100.border.border-success.p-2.m-auto
                    //-         h4.m-auto mabite
                    //- div.row.w-100.border.border-success.p-2.p-2.mb-2.mt-2.ml-auto.mr-auto(style="height:300px;")
                    //-     div.row.w-100.border.border-success.p-2.m-auto.h-75
                    //-         div.w-100(style='background-image: url(\'/assets/pictures/2_1513097725649.png\');background-repeat: no-repeat;background-size: cover;border: 1px solid red;border-radius: 500px 500px 500px 500px;')
                    //-     div.row.w-100.border.border-success.p-2.m-auto
                    //-         h4.m-auto mabite
                    
                div.col-md-8.col-8.col-sm-8.h-100(style="background-color: white;;border-radius: 0px 5px 5px 0px;").p-3
                    div.col.w-100(style="height:5%;background-color: white;border-radius: 0px 5px 5px 0px;").mb-2
                        h2#username_chatting.text-center.muffin            
                    div.col.w-100.border(style="height:75%;background-color: white;border-radius: 0px 5px 5px 0px;overflow: auto;").mb-2.p-5
                        //- div.col.border(style="min-height:10%;background-color: #F5F5F5F5;min-width:25%; max-width: 66%;border-radius: 50px 50px 50px 5px;background-color: #DCDCDC; color: #4b4f56;").mb-2.p-4 jicnia unuiaaousnaio iojoi sdnfovds ogjiodfsn viodfsjiov jdiosv oidmsfiov dfsiomv iodsmfvio mdfsiovm oidsfmvo mdsfvm odsmvo dmsfvm dsofmvo dsmvm dfsomvoijicnia unuiaaousnaio iojoi sdnfovds ogjiodfsn viodfsjiov jdiosv oidmsfiov dfsiomv iodsmfvio mdfsiovm oidsfmvo mdsfvm odsmvo dmsfvm dsofmvo dsmvm dfsomvoijicnia unuiaaousnaio iojoi sdnfovds ogjiodfsn viodfsjiov jdiosv oidmsfiov dfsiomv iodsmfvio mdfsiovm oidsfmvo mdsfvm odsmvo dmsfvm dsofmvo dsmvm dfsomvoijicnia unuiaaousnaio iojoi sdnfovds ogjiodfsn viodfsjiov jdiosv oidmsfiov dfsiomv iodsmfvio mdfsiovm oidsfmvo mdsfvm odsmvo dmsfvm dsofmvo dsmvm dfsomvoijicnia unuiaaousnaio iojoi sdnfovds ogjiodfsn viodfsjiov jdiosv oidmsfiov dfsiomv iodsmfvio mdfsiovm oidsfmvo mdsfvm odsmvo dmsfvm dsofmvo dsmvm dfsomvoijicnia unuiaaousnaio iojoi sdnfovds ogjiodfsn viodfsjiov jdiosv oidmsfiov dfsiomv iodsmfvio mdfsiovm oidsfmvo mdsfvm odsmvo dmsfvm dsofmvo dsmvm dfsomvoijicnia unuiaaousnaio iojoi sdnfovds ogjiodfsn viodfsjiov jdiosv oidmsfiov dfsiomv iodsmfvio mdfsiovm oidsfmvo mdsfvm odsmvo dmsfvm dsofmvo dsmvm dfsomvoi        
                        //- div.col.border(style="min-height:10%;background-color: #F5F5F5F5;min-width:25%; max-width: 66%;border-radius: 50px 50px 50px 5px;background-color: #DCDCDC; color: #4b4f56;").mb-2.p-4 jicnia unuiaaousnaio iojoi sdnfovds
                        //- div.col.border(style="min-height:10%;background-color: #F5F5F5F5;min-width:25%; max-width: 66%;border-radius: 50px 50px 5px 50px;background-color: #4080ff;color: white;").mb-2.p-4.ml-auto jicnia unuiaaousnaio iojoi sdnfovds                    
                    div.col.w-100.border-success(style="height:15%;background-color: #F5F5F5F5;border-radius: 0px 5px 5px 0px;").mt-3
                        form
                            div.row.p-2
                                div.col-10
                                    textarea#write_msg.w-100(name="tee", rows="3", style="resize: none;")
                                div.col-2.py-3                                
                                    button.btn.btn-primary.h-100.w-100 Send
    script(src='/assets/javascript/chat.js' type='text/javascript')
            
