extends layout
        
block content

    -if (type === 1)
        h1.text-success Your account is now activated, go login and choper de la go sa mère
    -if (type === 2)
        h1.text-success PASSWORD RESET EN CONSTRUCTION FDP