extends layout
        
block content

        -if (session.connected.state === true)
                //- div.col-md-3.p-3.h-100.justify-center
                //-         div.row(style="height: 50px;").mx-auto.w-auto
                                
                //-         //- div.row(style="height: 50px;").mx-auto.w-auto
                //-                 //- button#button_page.btn.btn-secondary(style="position: fixed") Next Page 
                div.col-md-3.p-3
                        div(style="background-color: white;border-radius:2px;box-shadow: black 1px 1px 10px;").ml-auto.p-4
                                .age-range
                                        p
                                                label(for="ageRange") Par âge :
                                                input.range#ageRange(type="text" readonly style="border:0; color:#f6931f; font-weight:bold;")
                                        div#ageslider-range
                                .pop-range
                                        p
                                                label(for="popRange") Par Score de popularité :
                                                input.range#popRange(type="text" readonly style="border:0; color:#f6931f; font-weight:bold;")
                                        div#popslider-range
                                .geo-range
                                        p
                                                label(for="geoRange") Par Localisation :
                                                input.range#geoRange(type="text" readonly style="border:0; color:#f6931f; font-weight:bold;")
                                        div#geoslider-range
                                .tag-pool
                                        label(for="tags") Par tags :
                                        div#div_user_tags.text-center
                                        input#profil_tag.form-control(type="text" placeholder="Search tag" maxlength="249" name="profil_bio")
                                        div#div_list_tags(style= "overflow-y: auto;")
                                        div.w-100.d-flex.justify-content-center.form-group
                                        p#return_tags.text-danger

                                div.row.mt-2
                                        div.col-4
                                        div.col-4.m-auto
                                                button#search-button.w-100(type="submit" style="margin-left:auto;").btn.btn-primary Filter 
                                        div.col-4      
                                div.row.mt-2
                                        div.col-2                                
                                        div.col-6.m-auto
                                                button#advanced_search.w-200(type="submit" style="margin: auto").btn.btn-link Recherche Avancée
                                        div.col-3                                

                                //- div.row(style="height: 50px;").mx-auto.w-50.m-5
                                //-         a localisation
                                //- div.row(style="height: 50px;").mx-auto.w-50.m-5
                                //-         a popu
                                //- div.row(style="height: 50px;").mx-auto.w-50.m-5
                                //-         a tag                                       
                div.col-md-6
                        div.row.w-100#users

                        div.row.w-100(style="height: 50px;").mt-4.mx-auto.d-flex.justify-content-center
                                button#button_page.btn.btn-warning(style= "border-radius: 500px;width: 75px;height:75px;font-size : 55px;padding: 0px;").muffin +
                div.col-md-3.p-5
                        div(style="background-color: white;border-radius:2px;box-shadow: black 1px 1px 10px;").mr-auto
                                div.row(style="height: 50px;width: 200px;").m-5
                                        div.w-50
                                                h5 Age
                                        div.w-25.d-flex.justify-content-around
                                                a#age_up
                                                        h5 &uarr;
                                                a#age_down
                                                        h5 &darr;         
                                div.row(style="height: 50px;width: 200px;").m-5
                                        div.w-50
                                                h5 Localisation
                                        div.w-25.d-flex.justify-content-around
                                                a#loc_up
                                                        h5 &uarr;
                                                a#loc_down
                                                        h5 &darr;
                                div.row(style="height: 50px;width: 200px;").m-5
                                        div.w-50
                                                h5 Popularity
                                        div.w-25.d-flex.justify-content-around
                                                a#pop_up
                                                        h5 &uarr;
                                                a#pop_down
                                                        h5 &darr;
                                div.row(style="height: 50px;width: 200px;").m-5
                                        div.w-50
                                                h5 Tags
                                        div.w-25.d-flex.justify-content-around
                                                a#tag_up
                                                        h5 &uarr;
                                                a#tag_down
                                                        h5 &darr;      
                                //- div.row(style="height: 50px;").mx-auto.w-50.m-5
                                //-         a localisation
                                //- div.row(style="height: 50px;").mx-auto.w-50.m-5
                                //-         a popu
                                //- div.row(style="height: 50px;").mx-auto.w-50.m-5
                                //-         a tag                
                script(src="assets/javascript/index.js" type="text/javascript")
        
        -else
                div.row.h-75.w-100
                        div.col-md-3.p-3.h-100
                        div.col-md-6.border.h-75.my-auto.p-5(style="background-color: white;box-shadow: #383838 1px 1px 15px;border-radius: 2px;")
                                div.row.h-75.w-100.m-auto
                                        div.row.w-100.h-25
                                                div.col-4
                                                div.col-4.text-center.mt-auto
                                                        h1.m-auto.muffin(style="color: #4b4f56;") Welcome on
                                                div.col-4

                                        div.row.w-100.h-25                            
                                                div.col-12.text-center.m-auto
                                                        h1.m-auto.sarina(style="font-size: 60px;color: red;text-shadow: 2px 0 0 #383838;") Matcha
                                        div.row.w-100.h-25.text-center
                                                h2.m-auto.muffin(style="color: #4b4f56;") Sign in (or sign up) and chat with nice poeples around you !
                                                
                                div.row.h-25.w-100.border(style='background-image: url(\'/assets/ressources/facce.jpg\');background-repeat: no-repeat;background-size: cover;').m-auto
                                
                        div.col-md-3.h-100
        script(src="assets/javascript/tagsinput.js")            
        //- div(class="ui red container") mid
        //- h5 Connection
        //- form#form_connect.container(method="POST" action="#")
        //-         div.form-group.row
        //-                 label(for="form_username") Username
        //-                 div.w-100
        //-                 input#form_username.form-control(type="text" placeholder="Enter username" name="form_username").col-2
        //-         div.form-group.row
        //-                 label(for="form_password") Password
        //-                 div.w-100
        //-                 input#form_password.form-control(type="password" placeholder="Enter password" name="form_password").col-3
        //-         button(type="submit").btn.btn-primary Submit

//-         <div class="container py-3">
//-     <div class="card">
//-       <div class="row ">
//-         <div class="col-md-4">
//-             <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" class="w-100">
//-           </div>
//-           <div class="col-md-8 px-3">
//-             <div class="card-block px-3">
//-               <h4 class="card-title">Lorem ipsum dolor sit amet</h4>
//-               <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
//-               <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
//-               <a href="#" class="btn btn-primary">Read More</a>
//-             </div>
//-           </div>

//-         </div>
//-       </div>
//-     </div>
//-   </div>