extends layout
        
block content

        -if (session.connected.state === true) 
                script(src="assets/javascript/index.js" type="text/javascript")
                div#users 
        //- div(class="ui red container") mid
        //- h5 Connection
        //- form#form_connect.container(method="POST" action="#")
        //-         div.form-group.row
        //-                 label(for="form_username") Username
        //-                 div.w-100
        //-                 input#form_username.form-control(type="text" placeholder="Enter username" name="form_username").col-2
        //-         div.form-group.row
        //-                 label(for="form_password") Password
        //-                 div.w-100
        //-                 input#form_password.form-control(type="password" placeholder="Enter password" name="form_password").col-3
        //-         button(type="submit").btn.btn-primary Submit

        div
                label Target