doctype html
html
    head
        title Matcha
        script(src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous")
        script(src="http://localhost:7777/socket.io/socket.io.js")

        script(src="assets/javascript/layout.js" type="text/javascript")
        script(src="assets/javascript/sockets.js" type="text/javascript")        

        link(rel="stylesheet" href="/assets/semantic/semantic.min.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
        link(rel="stylesheet" href="/stylesheets/font.css")
        link(rel="stylesheet" href="/stylesheets/elements.css")
        link(rel="stylesheet" href="/stylesheets/pictures.css")
        link(rel="stylesheet" href="/stylesheets/signup.css")
        link(rel="stylesheet" href="/stylesheets/search.css")
        link(rel="stylesheet" href="/stylesheets/princeps.css")
        link(rel="stylesheet" href="/stylesheets/layout.css")        
        link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    
    body
        div.container-fluid.justify-content-between.fill
            div.row.p-3(style={color: 'red', background: '#383838', height: '100px'})
                //- div.col-6.col-md-2.m-auto
                div.col-md-4.col-lg-2.m-auto                
                    h1#matcha.sarina.font-shadow-pink Matcha

                -if (session.connected.state === false)
                    div.col-md-8
                
                    div.col-md-2.text-center.m-auto
                        div.row.p-1.justify-content-center
                            a
                                h7#connexion.text-center.sarina.font-shadow-pink CONNEXION 
                            div#dropdown_connexion.dropdown-menu.p-3.w-100
                                div#div_connect
                                    div#div_ret.aler(role="alert").d-none
                                    form#form_connect(method="POST" action="#")
                                        div.form-group
                                            label(for="form_username") Username
                                            input#form_username.form-control(type="text" placeholder="Enter your username" name="form_username")
                                        div.form-group
                                            label(for="form_password") Password
                                            input#form_password.form-control(type="password" placeholder="Enter your password" name="form_password")
                                        div.w-100.d-flex.justify-content-center.form-group
                                            p#return-connect.text-danger
                                        div.w-100.d-flex.justify-content-center.form-group
                                            button#connect_submit.btn.btn-primary(type="submit") Sign in
                                    div.dropdown-divider
                                    a#drop_signup.dropdown-item(style="white-space: normal;") New around here? Sign up
                                    a#forgot_password.dropdown-item(href="#") Forgot password?
                                div#div_forgot
                                    form#form_forgot(method="POST" action="#")
                                        div.form-group
                                            label(for="exampleDropdownFormEmail1") Email
                                            input#form_email.form-control(type="email" placeholder="Enter your email" name="form_reset")
                                            div.w-100.d-flex.justify-content-center.form-group
                                                p.mt-2#return-reset.text-danger
                                            div.w-100.d-flex.justify-content-center.form-group
                                                button#button_reset.btn.btn-primary(type="submit") Reset password
                        div.row.p-1.justify-content-center
                            a(href="/signup")
                                h7.text-center.sarina.font-shadow-pink INSCRIPTION
                -else
                    div.col-md-5.col-lg-8.container-fluid(style="padding:inherit;")
                        div.row.m-auto.container-fluid
                            div.col-md-6.m-auto.text-center
                                h3#explo_link.sarina.font-shadow-pink Exploration
                            div.col-md-6.m-auto.text-center
                                h3#chat_link.sarina.font-shadow-pink Chat                         
                    div.col-md-3.col-lg-2.container
                        div.row
                            div.col-md-5(style="margin-top:auto;margin-bottom:auto;margin-left:auto;margin-right:auto;")
                                img#notif_picture(src='/assets/ressources/bell.png' style='background-color: white;border-radius:500px;height:50px;margin-left: auto;margin-right: auto;display: block;cursor: pointer;')
                                h4#notif_number.text-center.d-none(style='color:white;background-color:red;width:25px;border-radius:100px;position:relative;bottom:15px;left:83px;') 0
                                div#dropdown_notif.dropdown-menu.pre-scrollable.p-3.w-100
                                    div#div_notif
                            div.col-md-7.p-1.justify-content-right.container
                                div.row.p-1.justify-content-center
                                    h7#profile.sarina.font-shadow-pink= username
                                div.row.p-1.justify-content-center
                                    h7#logout.sarina.font-shadow-pink LOGOUT
            div#maindiv.row(style="height: 100%")   
                block content

            footer.footer
                div.container
                span.muffin.mr-5 afanneau + nterol
        script(src="assets/javascript/login.js" type="text/javascript")
        script(src="assets/javascript/reset_password.js" type="text/javascript")
        script(src="assets/javascript/logout.js" type="text/javascript")