extends layout

block content

    div.search-card.card.col-6.container-fluid(style='max-height: 55rem')
        div.card-block
            .search-title
                h3 Rechercher un membre
            .search-container
                form#search-form(action="POST")
                    .age-range
                        p
                            label(for="ageRange") Par âge :
                            input.range#ageRange(type="text" readonly style="border:0; color:#f6931f; font-weight:bold;")
                        div#ageslider-range
                    .pop-range
                        p
                            label(for="popRange") Par Score de popularité :
                            input.range#popRange(type="text" readonly style="border:0; color:#f6931f; font-weight:bold;")
                        div#popslider-range
                    .geo-range
                        p
                            label(for="geoRange") Par Localisation :
                            input.range#geoRange(type="text" readonly style="border:0; color:#f6931f; font-weight:bold;")
                        div#geoslider-range
                    .tag-pool
                        label(for="tags") Par tags : 
                        input#profil_tag.form-control(type="text" placeholder="Edit your biography (Max 249 characters)" maxlength="249" name="profil_bio")
                        div#div_list_tags.col-3
                        div.w-100.d-flex.justify-content-center.form-group
                            p#return_tags.text-danger

                button#search-button(type="submit").btn.btn-primary Rechercher        

        script(src="assets/javascript/search.js")
        script(src="assets/javascript/profil.js")
