extends layout
        
block content
        form#form_signup.container(method="POST").text-center
                div.form-group.row.justify-content-center
                        label(for="signup_username") Username
                        div.w-100
                        input#signup_username.form-control(type="text" placeholder="Enter username" name="signup_username").col-2
                div.form-group.row.justify-content-center
                        label(for="signup_email") Email
                        div.w-100
                        input#signup_email.form-control.border(type="email" placeholder="example@htomail.fr" name="signup_email").col-2
                div.form-group.row.justify-content-center
                        label(for="signup_firstname") First name
                        div.w-100
                        input#signup_firstname.form-control(type="text" placeholder="Enter first name" name="signup_firstname").col-2
                div.form-group.row.justify-content-center
                        label(for="signup_lastname") Last name
                        div.w-100
                        input#signup_lastname.form-control(type="text" placeholder="Enter last name" name="signup_lastname").col-2
                div.form-group.row.justify-content-center
                        label(for="signup_password") Password
                        div.w-100
                        input#signup_password.form-control(type="password" placeholder="Enter password" name="signup_password" data-toggle="tooltip" data-placement="right" title="ndisovdn").col-3
                div.form-group.row.justify-content-center
                        label(for="signup_cpassword") Confirm password
                        div.w-100
                        input#signup_cpassword.form-control(type="password" placeholder="Confirm password" name="signup_cpassword").col-3
                div.form-group.row.justify-content-center
                        label(for="signup_sexdate") Last time you had sex
                        div.w-100
                        input#signup_sexdate.form-control(type="date" aria-describedby="dateHelp" placeholder="Confirm password" name="signup_sexdate").col-3
                        div.w-100
                        small#dateHelp.form-text.text-muted We'll sell your infos for coke and hoes negga.
                div.w-100.d-flex.justify-content-center.form-group
                        p#return-signup.text-danger
                button#submit_signup(type="submit").btn.btn-primary Submit
        
        script(src="assets/javascript/signup.js")
                
        //- div(class="ui red container") mid
        //- h5 Connection
        //- form#form_connect.container(method="POST" action="#")
        //-         div.form-group.row
        //-                 label(for="form_username") Username
        //-                 div.w-100
        //-                 input#form_username.form-control(type="text" placeholder="Enter username" name="form_username").col-2
        //-         div.form-group.row
        //-                 label(for="form_password") Password
        //-                 div.w-100
        //-                 input#form_password.form-control(type="password" placeholder="Enter password" name="form_password").col-3
        //-         button(type="submit").btn.btn-primary Submit

